<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849832048867-894l6e44bcjkpsv0kjd655rq72ti16co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849832048867-894l6e44bcjkpsv0kjd655rq72ti16co</string>
	<key>API_KEY</key>
	<string>AIzaSyD_-lNdlSQS75IKCg6ff31JCDiC4DHK9zg</string>
	<key>GCM_SENDER_ID</key>
	<string>849832048867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotifications</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-db43d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-db43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849832048867:ios:2cbb154ac514a44162add6</string>
</dict>
</plist>